ul li {
	display: block; width: 120px; height: 120px;
	
}
	ul li:nth-child(1) a {
		background-color: #5bb2fc;
		background-position: 28px 28px;
	}
	ul li:nth-child(2) a {
		background-color: #58ebd3;
		background-position: 28px -96px;
	}
	ul li:nth-child(3) a {
		background-color: #ffa659;
		background-position: 28px -222px;
	}
	ul li:nth-child(4) a {
		background-color: #ff7a85;
		background-position: 28px -342px;
    }
    