nav {
    width: 260px;
}

.flex-column {
    -webkit-flex: 1;
    flex: 1;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.rightbar {
    grid-area: rightbar;
}

.container {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 220px 540px 1fr;
    grid-template-areas: "....... header  header" "sidebar content rightbar";
    background-color: #fff;
    color: #444;
}