<div *ngFor="let solution of problem?.solutions; let ix=index">
    <p class="description">{{solution.description}}
    </p>
    <div class="radios">
    <input type="radio" [name]="ix" [value]="Mode.Code" [(ngModel)]="solution.mode" (change)="changeResult(solution, Mode.Code )"> Code
    <input type="radio" [name]="ix" [value]="Mode.Result" [(ngModel)]="solution.mode" (change)="changeResult(solution, Mode.Result)"> Result
    </div>
    <textarea class="code" [(ngModel)]="solution.result"></textarea>
    <p class="information">{{solution.information}}</p>
</div>